// 引用 Antd 主题
@import '~ant-design-vue/lib/style/themes/default';

// -------- Colors -----------
// 主色
@primary-color: #1890ff;
// 辅色
@secondary-color: #f67828;
// 配色
@tertiary-color: #67c23a;
// 成功
@success-color: #52c41a;
// 警告
@warning-color: #faad14;
// 危险
@danger-color: #f5222d;
// 七种基础色
@red-color: #ff5733;
@orange-color: #ff9100;
@yellow-color: #ffd600;
@green-color: #67c23a;
@cyan-color: #00acc1;
@blue-color: #1890ff;
@purple-color: #7c3aed;

// scrollbar
@scrollbar-enabled:         true;
@scrollbar-width:           5px;
@scrollbar-height:          5px;
@scrollbar-border-radius:   0;
@scrollbar-track-color:     #f1f1f1;
@scrollbar-thumb-color:     rgba(129, 129, 128, 0.2);
@scrollbar-outline-color:   rgba(129, 129, 128, 0.4);
@scrollbar-table-enabled:   false;
