@import "~ant-design-vue/lib/style/themes/default";

// -------- Colors -----------
@colors: {
  // 主色
  primary: @primary-color;
  // 辅色
  secondary: #f67828;
  // 配色
  tertiary: #67c23a;

  // 成功
  success: @success-color;
  // 警告
  warning: @warning-color;
  // 危险
  danger: #ff5733;

  // 七种基本色
  red: #ff5733;
  orange: #ff9100;
  yellow: #ffd600;
  green: #67c23a;
  cyan: #00acc1;
  blue: #1890ff;
  purple: #6559cc;
}
