# See http://help.github.com/ignore-files/ for more about ignoring files.

# release
release.md
/deploykeys*

# dependencies
node_modules
yarn-error.log

# test output
/.nyc_output
/coverage
/mochawesome-report
/test/**/dist
coverage.lcov
.npmpublish.md

# compiled output
/dist
/example
/static
/tmp
/temp
.tmp
*.tmp
*.tmp.*
*.sourcemaps
.cache-loader

# compiled cache
.sass-cache
.eslintcache
.stylelintcache

# IDEs and editors
.idea
.hbuilderx
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - Webstorm
*.idea

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.vs/
[Bb]in/
[Oo]bj/
[Ll]og/
[Pp]ackages/
*.user
*.pch
*.tlh
*.tli
*.pdb
*.suo
*.lastbuildstate
*.Build.CppClean.log
*.ipch
*.history

# Python:
*.py[cod]
*.so
*.egg
*.egg-info

# Windows:
[Tt]humbs.db
Desktop.ini
.DS_Store
$RECYCLE.BIN/
