access=restricted
package-lock=false
auto-install-peers=true
strict-peer-dependencies=true
public-hoist-pattern[]=@babel/*
public-hoist-pattern[]=@vue/reactivity
public-hoist-pattern[]=@vue/runtime-core
