@import '../themes/default';
@import './mixins';

@colorArr:
  primary @primary-color,
  secondary @secondary-color,
  tertiary @tertiary-color,
  success @success-color,
  warning @warning-color,
  danger @danger-color,
  red @red-color,
  orange @orange-color,
  yellow @yellow-color,
  green @green-color,
  cyan @cyan-color,
  blue @blue-color,
  purple @purple-color;

/* Set color */
each(@colorArr, {
  .antdvx-text-@{key} {
    color: @value;
  }
});

each(@colorArr, {
  .antdvx-bg-@{key} {
    background-color: @value;
  }
});

each(@colorArr, {
  .antdvx-border-@{key} {
    border-color: @value;
  }
});

body.antdvx-theme-classic {
  // Scrollbar
  // ---------------------------------------------------
  /* .scrollbar-mixin(); */

  // Base
  // ---------------------------------------------------
  dl {
    margin-bottom: 0;
  }

  // Button
  // ---------------------------------------------------
  .ant-btn-icon-only {
    font-size: 1em;
  }

  .ant-btn-icon-only > * {
    font-size: 1em;
  }

  .ant-btn > .antdvx-icon + span,
  .ant-btn > span + .antdvx-icon,
  .ant-btn > .anticon + span,
  .ant-btn > span + .anticon {
    margin-left: 4px;
  }

  .ant-btn.ant-btn-sm {
    > span + .anticon,
    > .anticon + .anticon,
    > .anticon + span {
      margin-left: 4px;
    }
  }

  .ant-btn-two-chinese-chars > *:not(.anticon) {
    letter-spacing: 0.14em;
  }

  // Collapse
  // ---------------------------------------------------
  .ant-collapse.ant-collapse-pure {
    background-color: transparent;

    > .ant-collapse-item {
      border-bottom: none;
    }
  }

  // Notification
  // ---------------------------------------------------
  .ant-notification-notice-content {
    min-height: 32px;
  }

  .ant-notification-notice-with-icon {
    position: relative;
  }

  .ant-notification-notice-icon {
    top: 2px;
  }

  .ant-notification-notice-message {
    display: block;
    overflow: hidden;
    word-break: break-word;
  }

  .ant-notification-notice-description {
    margin-top: 5px;
    margin-bottom: 5px;
    overflow: hidden;
    word-break: break-word;
  }

  .ant-notification-notice-closable {
    .ant-notification-notice-description {
      padding-right: 24px;
    }
  }

  // Form
  // ---------------------------------------------------
  .ant-form {
    .ant-form-item-label > label::after {
      margin: 0 18px 0 2px;
      content: '';
    }

    &.ant-form-horizontal {
      .ant-form-item {
        display: flex;

        .ant-form-item-label {
          flex-shrink: 0;
          word-break: break-all;
        }

        .ant-form-item-control-wrapper {
          flex: 1;
          padding-left: 2px;
          word-break: break-all;
        }
      }
    }

    &.ant-form-vertical.ant-form-pure {
      .ant-form-item {
        margin-bottom: 0;
      }
    }
  }

  // Dropdown
  // ---------------------------------------------------
  .ant-dropdown-menu {
    > .ant-dropdown-menu-item {
      &:not(:last-child) {
        margin-bottom: 1px;
      }
    }
  }

  // Tabs
  // ---------------------------------------------------
  .ant-tabs.ant-tabs-card .ant-tabs-card-bar .ant-tabs-tab-active {
    border-top-color: #d5d5d5;
    border-right-color: #d5d5d5;
    border-left-color: #d5d5d5;
  }
}
