@import '../themes/default';

@colorArr:
  primary  @primary-color,
  secondary  @secondary-color,
  tertiary  @tertiary-color,
  success  @success-color,
  warning  @warning-color,
  danger  @danger-color,
  red  @red-color,
  orange  @orange-color,
  yellow  @yellow-color,
  green  @green-color,
  cyan  @cyan-color,
  blue  @blue-color,
  purple  @purple-color;

// Set font color
// ---------------------------------------------------
each(@colorArr, {
  .antdvx-color-@{key} {
    color: @value;
  }
});

body.antdvx-theme-classic {
  overflow: hidden;

  // Scrollbar
  // ---------------------------------------------------
  * {
    &::-webkit-scrollbar {
      width: 12px;
      height: 12px;
      cursor: pointer;
      cursor: grab;
    }

    &::-webkit-scrollbar-thumb {
      background: rgba(129, 129, 128, 0.15);
      border-radius: 6px;
      box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.1);
    }

    &::-webkit-scrollbar-track {
      background: rgba(0, 4, 40, 0.06);
      border-radius: 0;
      box-shadow: none;
    }
  }

  // Base
  // ---------------------------------------------------
  dl {
    margin-bottom: 0;
  }

  // Tag
  // ---------------------------------------------------
  .ant-tag {
    padding: 5px 7px;
    line-height: 12px;
  }

  // Button
  // ---------------------------------------------------
  .ant-btn-icon-only {
    font-size: 1em;
  }

  .ant-btn-icon-only > * {
    font-size: 1em;
  }

  .ant-btn > .antdvx-icon + span,
  .ant-btn > span + .antdvx-icon {
    margin-left: 6px;
  }

  .ant-btn.ant-btn-sm {
    > span + .anticon,
    > .anticon + .anticon,
    > .anticon + span {
      margin-left: 6px;
    }
  }

  .ant-btn-two-chinese-chars > *:not(.anticon) {
    letter-spacing: 0.14em;
  }

  .ant-btn > .anticon {
    line-height: 0;
  }

  // Menu
  // ---------------------------------------------------
  .ant-menu.ant-menu-light {
    .ant-menu-sub.ant-menu-inline {
      background-color: transparent;
    }
  }

  .ant-collapse.ant-collapse-pure {
    background-color: transparent;

    > .ant-collapse-item {
      border-bottom: none;
    }
  }

  .ant-form-vertical.ant-form-pure {
    .ant-form-item {
      margin-bottom: 0;
    }
  }

  // Notification
  // ---------------------------------------------------
  .ant-notification-notice-with-icon {
    position: relative;
  }

  .ant-notification-notice-icon {
    top: 2px;
  }

  .ant-notification-notice-message {
    display: block;
    overflow: hidden;
    word-break: break-word;
  }

  .ant-notification-notice-description {
    margin-top: 5px;
    margin-bottom: 5px;
    overflow: hidden;
    word-break: break-word;
  }

  .ant-notification-notice-closable {
    .ant-notification-notice-description {
      padding-right: 24px;
    }
  }

  // Form
  // ---------------------------------------------------
  .ant-form {
    .ant-form-item-label > label::after {
      margin: 0 18px 0 2px;
      content: '';
    }

    &.ant-form-horizontal {
      .ant-form-item {
        display: flex;

        .ant-form-item-label {
          flex-shrink: 0;
          word-break: break-all;
        }

        .ant-form-item-control-wrapper {
          flex: 1;
          padding-left: 2px;
          word-break: break-all;
        }
      }
    }
  }

  // Table
  // ---------------------------------------------------
  .ant-table {
    .ant-table-body {
      overflow-x: auto !important;
    }

    .ant-table-thead > tr > th {
      padding-top: 10px;
      padding-bottom: 10px;
    }

    &.ant-table-empty {
      .ant-table-body {
        overflow: hidden !important;
      }
    }

    &.ant-table-small > .ant-table-content > .ant-table-body {
      margin: 0;
    }

    .ant-table-fixed-left {
      z-index: 1;
    }

    // table row 高亮
    .ant-table-row.ant-table-row-dirty {
      background-color: #e4efff;
    }
  }

  // Empty
  // ---------------------------------------------------
  .ant-empty-normal {
    margin: 0;
  }

  // Alert
  // ---------------------------------------------------
  .ant-alert-with-description {
    display: flex;
    align-items: center;
  }

  .ant-alert-with-description .ant-alert-message {
    margin-bottom: 0;
  }

  .ant-alert-with-description.ant-alert-no-icon {
    padding: 8px 15px;
  }

  .ant-alert {
    &.ant-alert-mini {
      padding: 5px 10px 5px 30px;

      .ant-alert-icon {
        top: 10px;
        left: 10px;
        font-size: 14px;
      }

      .ant-alert-description {
        font-size: 12px;
      }
    }

    &.ant-alert-closable {
      .ant-alert-message,
      .ant-alert-description {
        margin-right: 25px;
      }

      .ant-alert-close-icon {
        top: 10px;
      }
    }
  }

  // Input
  // ---------------------------------------------------
  .ant-input[disabled] {
    color: #9c9c9c;
    background-color: #f7f7f7;
  }

  .ant-input-group-wrapper {
    width: initial;
  }

  // Dropdown
  // ---------------------------------------------------
  .ant-dropdown-menu {
    > .ant-dropdown-menu-item {
      &:not(:last-child) {
        margin-bottom: 1px;
      }
    }
  }

  .ant-menu-submenu-popup {
    .ant-menu-submenu-title {
      max-width: 220px;
      padding-right: 36px !important;
    }
  }

  // Tabs
  // ---------------------------------------------------
  .ant-tabs-bar {
    margin-bottom: 0;
  }

  .ant-tabs.ant-tabs-card .ant-tabs-card-bar .ant-tabs-tab:not(.ant-tabs-tab-active) {
    background: linear-gradient(135deg, #e7ecf7, #fff);
  }

  .ant-tabs.ant-tabs-card .ant-tabs-card-bar .ant-tabs-tab-active {
    border-top-color: #d5d5d5;
    border-right-color: #d5d5d5;
    border-left-color: #d5d5d5;
  }

  // Tree
  // ---------------------------------------------------
  .ant-tree-switcher-icon {
    vertical-align: middle;
  }

  .ant-notification-notice-content {
    min-height: 32px;
  }
}
