@font-face {
  font-family: "ant-x-icon"; /* Project id 2712952 */
  src: url('//at.alicdn.com/t/font_2712952_5xh0bhxyjvf.woff2?t=1627699317007') format('woff2'),
  url('//at.alicdn.com/t/font_2712952_5xh0bhxyjvf.woff?t=1627699317007') format('woff'),
  url('//at.alicdn.com/t/font_2712952_5xh0bhxyjvf.ttf?t=1627699317007') format('truetype');
}

.ant-x-icon {
  font-family: "ant-x-icon" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-angle-double-down:before {
  content: "\e617";
}

.icon-angle-double-left:before {
  content: "\e618";
}

.icon-angle-double-right:before {
  content: "\e619";
}

.icon-angle-double-up:before {
  content: "\e61a";
}

