@keyframes antdvx-icon-spin {
  100% {
    transform: rotate(360deg);
  }
}

.antdvx-icon {
  display: inline-block;

  svg {
    width: 1em;
    height: 1em;
    vertical-align: top;
    fill: currentColor;
  }
}

.antdvx-icon-spin {
  animation: antdvx-icon-spin 1s infinite linear;
}

.ant-btn {
  .antdvx-icon {
    /* line-height: inherit;
    vertical-align: -2px; */
    vertical-align: baseline;
  }
}
