@import '@/app/themes/default';

.menus-tree {
  :global(.ant-tree-iconEle .antdvx-icon),
  :global(.ant-tree-switcher .antdvx-icon) {
    vertical-align: middle;
  }
  :global(.ant-tree-checkbox) {
    margin-right: 0 !important;
  }

  :global(.ant-tree-node-content-wrapper) {
    height: auto !important;
    margin-top: -3px !important;
  }

  :global(.ant-tree-title) {
    display: inline-block;
    margin-left: 3px;
    vertical-align: -3px;
  }
}
