@import "@/plugins/tailwindcss/tailwind.scss";

[v-cloak] {
  display: none !important;
}

#app {
  height: 100%;
}

body {
  overflow: hidden;
}

.box-shadow-top {
  position: relative;

  &::after {
    position: absolute;
    top: -3px;
    right: 0;
    left: 0;
    z-index: 3;
    height: 3px;
    pointer-events: none;
    content: '';
    background: linear-gradient(
      to top,
      rgba(0, 0, 0, 0.2) 0,
      rgba(0, 0, 0, 0.2) 1px,
      rgba(0, 0, 0, 0.1) 0,
      transparent
    );
    opacity: 0.6;
    transition-timing-function: cubic-bezier(0.2, 0, 0, 1);
    transition-duration: 0.22s;
    transition-property: left, opacity, width;
  }
}

.box-shadow-bottom {
  position: relative;

  &::after {
    position: absolute;
    right: 0;
    bottom: -3px;
    left: 0;
    z-index: 3;
    height: 3px;
    pointer-events: none;
    content: '';
    background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.2) 0,
      rgba(0, 0, 0, 0.2) 1px,
      rgba(0, 0, 0, 0.1) 0,
      transparent
    );
    opacity: 0.6;
    transition-timing-function: cubic-bezier(0.2, 0, 0, 1);
    transition-duration: 0.22s;
    transition-property: left, opacity, width;
  }
}

.shadow-card {
  padding: 16px;
  background-color: #fff;
  border-radius: 3px;
  box-shadow: 1px 1px 3px 0 rgb(0 0 0 / 14%);
}

.shadow-card-no-padding {
  padding: 0;
}
